In [13]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [14]:
#缺失值填入字串'others'
q_df.fillna('others')

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [15]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?
q_df1 = q_df.copy()

q_pf = pd.get_dummies(q_df1[['Profession']])
q_df1 = pd.concat([q_df1, q_pf], axis=1)
q_df1
#若針對Profession做編碼，因為沒有順序性，要用get_dummies()

      Sex Profession  Profession_engineer  Profession_teacher
0    male    teacher                    0                   1
1    male   engineer                    1                   0
2  female       None                    0                   0
3  female   engineer                    1                   0

In [17]:
from sklearn.preprocessing import LabelEncoder
q_df['Sex_label'] = LabelEncoder().fit_transform(q_df['Sex'].values)
q_df
#若針對Sex做編碼，因為有順序性，要使用LabelEncoder()

      Sex Profession  Sex_label
0    male    teacher          1
1    male   engineer          1
2  female       None          0
3  female   engineer          0